{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h1>Ваша корзина покупок</h1>
    {% if cart %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            <tr>
              <td>{{ item.item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>₽{{ item.item.get_display_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Общая сумма: ₽{{ subtotal }}</p>
      <a href="#" id="buy_now_btn" data-checkout-type="cart" class="btn btn-primary">Перейти к оплате</a>
      <form method="post" action="{% url 'clear_cart' %}" class="mt-2 mb-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Очистить корзину</button>
      </form>
    {% else %}
      <p>Ваша корзина пуста.</p>
    {% endif %}
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
