<div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        {% if not request.resolver_match.url_name == 'home' %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Главная<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}">Корзина</a>
        </li>
      </ul>
    </nav>
  <h3 class="text-muted">Магазин</h3>
</div>
